
@font-face {
    font-family: 'raleway-medium';
    src: url(../fonts/raleway-medium_[allfont.ru].ttf);
}

@font-face {
    font-family: 'raleway-regular';
    src: url(../fonts/raleway-regular_[allfont.ru].ttf);
}