
@media (max-width: 1300px) {
    .skills .skills-text {
        padding: 130px 55px 0 128px;
    }
}
@media (max-width: 1100px) {
    .skills .skills-text {
        padding: 100px 55px 0 128px;
    }
}

@media (max-width: 991px) {
    
    .icon i{
        margin-top: 25px;
    }
    
    .skills p {
        margin-top: 28px;
    }
    
    .skills .skills-text {
        padding: 80px 55px 0 128px;
    }
    
    .navbar-nav{
        background: #007d30d5;
        padding: 25px;
        border-radius: 10px;
    }
    
    header .header__nav-link{
        display: flex;
        justify-content: center;
        margin-left: 0;
        padding: 5px 0;
    }
    
    header .header__nav-link:hover{
        background: #fff;
        border-radius: 10px;
    }
}

@media (max-width: 850px) {
    .skills .skills-text {
        padding: 71px 55px 0 80px;
    }
    
    .skills p {
        margin-top: 22px;
    }
}

@media (max-width: 767px) {
    .skills .skills-text {
        padding: 15% 5%;
    }
}

@media (max-width: 389px) {
    .skills .skills-text{
        padding-top: 20px;
    }
}